{{>layout/header}}
<!-- dashboard inner -->
<div class="middle_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>PROJECT</h2>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row column1 align-content-center">
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <i class="fa-regular fa-circle-1 purple_color"></i><h3>프로젝트 기본 정보</h3>
                    </div>
                    <form action="/saveProject" method="post">
                        <div class="full price_table padding_infor_info">
                            <div class="row">
                                <!-- 항목 1 -->
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_30">
    <!--                                <form>-->
                                        <h4>진행 방식</h4>
                                        <select name="onoff" class="custom-select-lg" style="width: 100%;">
                                            <option value="online" selected>온라인</option>
                                            <option value="offline">오프라인</option>
                                        </select>
    <!--                                </form>-->
                                </div>

                                <!-- 항목2 -->
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_30">
<!--                                    <form>-->
                                        <h4>모집 인원</h4>
                                        <select name="memberCount" class="custom-select-lg" style="width: 100%;">
                                            <option value="unknown" selected>인원 미정</option>
                                            <option value="one">1명</option>
                                            <option value="two">2명</option>
                                            <option value="three">3명</option>
                                            <option value="four">4명</option>
                                            <option value="five">5명</option>
                                            <option value="six">6명</option>
                                            <option value="seven">7명</option>
                                            <option value="eight">8명</option>
                                            <option value="nine">9명</option>
                                            <option value="ten">10명 이상</option>
                                        </select>
<!--                                    </form>-->
                                </div>

                                <!-- 항목3 -->
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_30">
<!--                                    <form>-->
                                        <h4>기술 스택</h4>
                                        <input type="text" class="form-control" id="tech" placeholder="ex) Java, Python 등" name="tech">
<!--                                    </form>-->
                                </div>

                                <!-- 항목4 -->
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_30">
<!--                                    <form>-->
                                        <h4>시작 날짜</h4>
                                        <input type="text" class="form-control" id="startDate" placeholder="DD/MM/YYYY" name="startDate">
<!--                                    </form>-->
                                </div>

                                <!-- 항목5 -->
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_30">
<!--                                    <form>-->
                                        <h4>진행 기간</h4>
                                        <select name="duration" class="custom-select-lg" style="width: 100%;">
                                            <option value="unknown" selected>기간 미정</option>
                                            <option value="oneToThree">1개월 ~ 3개월</option>
                                            <option value="threeToSix">3개월 ~ 6개월</option>
                                            <option value="overSix">6개월 이상</option>
                                        </select>
<!--                                    </form>-->
                                </div>

                                <!-- 항목5 -->
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin_bottom_30">
<!--                                    <form>-->
                                        <h4>연락 방법</h4>
                                        <select name="contact" class="custom-select-lg" style="width: 100%;">
                                            <option value="kakaotalk" selected>카카오톡 오픈채팅</option>
                                            <option value="email">이메일</option>
                                        </select>
                                        <input type="text" class="form-control" id="address" placeholder="주소 입력" name="address">
<!--                                    </form>-->
                                </div>
                            </div>
                        </div>
                        <div class="full graph_head">
                            <i class="fa-regular fa-circle-1 purple_color"></i><h3>프로젝트 소개</h3>
                        </div>
                        <div class="full price_table padding_infor_info">
                            <div class="row">
                                <!-- 항목 1 -->
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin_bottom_30">
<!--                                    <form>-->
                                        <h4>제목</h4>
                                        <input type="text" class="form-control margin_bottom_30" id="title" placeholder="제목을 입력해주세요" name="title">
                                        <textarea class="form-control" placeholder="내용을 입력해주세요" rows="12"></textarea>
<!--                                    </form>-->
                                </div>
                            </div>
                        </div>
                        <div class="full graph_head">
                            <button type="submit" class="btn btn-purple-2 btn-xs float-right">
                                저장임
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end row -->
        </div>
{{>layout/footer}}