{{>layout/header}}
<!-- dashboard inner -->
<div class="middle_cont">
  {{#project}}
  <div class="container-fluid">
    <div class="row column_title">
      <div class="col-md-12">
        <div class="page_title">
          <h2>PROJECT</h2>
        </div>
      </div>
    </div>
    <!-- row -->
    <div class="row column1 margin_50 ">
      <div class="col-md-12">
        <div class="white_shd full margin_bottom_30">
          <div class="full graph_head text-center">
            <h2>{{projecttitle}}</h2>
            <!--<div class="col-lg-6 text-center float-left">
              <span>img</span>
              <span>name</span>
            </div>-->
            <!--<div class="col-lg-6 text-center float-left">
              <span>게시일</span>
            </div>-->
          </div>
          <div class="full price_table padding_infor_info">
            <div class="row">
              <div class="col-lg-6">
                <h5 class="text-right float-left col-lg-6">진행 방식</h5>
                <span class="text-left col-lg-6">{{process}}</span>
              </div>
              <div class="col-lg-6">
                <h5 class="text-right float-left col-lg-6">모집 인원</h5>
                <span class="text-left col-lg-6">{{membernum}}</span>
              </div>
              <div class="col-lg-6">
                <h5 class="text-right float-left col-lg-6">기술 스택</h5>
                <span class="text-left col-lg-6">{{techlist}}</span>
              </div>
              <div class="col-lg-6">
                <h5 class="text-right float-left col-lg-6">시작 날짜</h5>
                <span class="text-left col-lg-6">{{startingdate}}</span>
              </div>
              <div class="col-lg-6">
                <h5 class="text-right float-left col-lg-6">진행 기간</h5>
                <span class="text-left col-lg-6">{{duration}}</span>
              </div>
              <div class="col-lg-6">
                <h5 class="text-right float-left col-lg-6">연락 방법</h5>
                <span class="text-left col-lg-6">{{messenger}}</span>
              </div>
              <div class="full graph_head text-center">
                <h3>프로젝트 상세 설명</h3>
              </div>
              <div class="container-fluid">
                <div class="col-lg-12" style="margin: 30px;">
                  <span class="full">{{projectinner}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/project}}
      <!-- end row -->
    </div>
    {{>layout/footer}}