{{>layout/header}}
<!-- dashboard inner -->
<div class="middle_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>PROJECT</h2>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row column1 align-content-center">
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head text-center">
                        <i class="fa-regular fa-circle-1 purple_color"></i><h3>Title</h3>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
{{>layout/footer}}